.footer {
  @apply font-heading;

  & .payment-methods {
    &__methods {
      @apply flex flex-wrap;
    }

    &__type:not(:last-child) {
      @apply mb-1 mr-1;
    }
  }

  .localization-form {
    &__select {
      @apply text-sm
        pl-2
        mb-2;
    }
  }

  .localization-selector {
    & + .disclosure__list-wrapper {
      @apply ml-0;
    }
  }

  &-block-image {
    > img {
      @apply inline-block;
    }
  }

  &__newsletter {
    & .field__input {
      @apply bg-scheme-bg
        border
        border-scheme-accent
        text-scheme-accent;
    }

    & .field__button > svg {
      @apply stroke-scheme-accent;
    }
  }

  .footer__blocks-wrapper {
    @apply flex flex-row;
  }

  .footer-block__details-content li {
    @apply my-4 mx-0;
  }

  #FooterCountryForm {
    @apply w-full
      my-4;
  }

  #FooterCountryLabel {
    @apply mb-0;
  }

  #FooterLanguageLabel {
    @apply mt-3
      mb-0;
  }

  #FooterLanguageButton {
    border: 1px solid;

    @apply text-scheme-accent
      border-scheme-accent;
  }

  /* .basic #large-footer-logo {
    @apply hidden;
  } */

  #large-footer-logo {
    @apply w-full h-auto flex justify-center mt-8;
  }

  .link {
    @apply no-underline;
  }

  .list-social {
    @apply justify-center;
  }

  .list-social__link {
    @apply no-underline font-lg;
  }

  .list-payment {
    @apply ml-auto;
  }

  .lower-social {
    @apply my-auto mx-0;
  }

  .lower-social .list-social__link {
    @apply p-2 font-base;
  }

  #newsletter-heading {
    @apply mb-0;
  }

  .social-text {
    @apply pl-1;
  }

  #subfooter-upper {
    @apply pb-8;
  }

  #big-bold-logo {
    @apply font-8xl
      lg:font-[10rem]
      xl:font-[14rem]
      font-semibold
      leading-none
      tracking-none
      text-center;
  }

  .footer__content-bottom-wrapper {
    border-top: 1px solid;

    @apply border-scheme-accent
      flex
      w-full
      justify-around;

    > *:only-child {
      width: 100%;
    }
  }

  @media screen and (max-width: 767px) {
    .footer__content-bottom {
      flex-wrap: wrap;
      row-gap: 1.5rem;
    }

    .footer__content-bottom-wrapper {
      flex-wrap: wrap;
      flex-direction: column-reverse;
      row-gap: 1.5rem;
      padding: 0 2rem;
    }

    .localization-form:only-child {
      padding: 0;
    }
  }
}

.basic #large-footer-logo {
  display: none !important;
}
