.contact {
  @apply
    px-12
    py-0;

  &__fields {
    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 2rem;
    }
  }

  & .field {
    @apply
      mb-6;

    @media screen and (min-width: 768px) {
      @apply
        mb-8;
    }

    &__input {
      @apply
        border-3
        rounded-none
        h-16;
    }
  }

  & img {
    @apply
      max-w-full;
  }

  & .form__message {
    @apply
      items-start;
  }

  & .icon-success {
    @apply
      mt-1;
  }

  &__button {
    @apply
      flex
      mt-12;

    @media screen and (min-width: 768px) {
      @apply
        mt-16;
    }

    & button {
      @apply m-auto;
    }
  }

  & .h0 {
    @apply
      hidden;
  }
}

.helper-text {
  @apply
    my-1.7rem
    mx-0
    text-gray-500;

  &.small {
    @apply
      text-base
      font-medium;
  }
}
