.contact-content {
  & .contact-content-list {
    column-gap: 0;
    row-gap: 0;

    @apply flex;
  }

  & .title {
    @apply m-0;
  }

  &.no-heading .title {
    @apply hidden;
  }

  & .title-wrapper-with-link {
    @apply mt-0;
  }

  & .subtitle {
    @apply text-base
      capitalize;
  }

  & .text-above {
    @apply flex
      flex-col-reverse;
  }

  & .contact-content-card__image-wrapper {
    @apply h-full;

    & .media {
      @apply h-full;
    }
  }

  /* & .large-sub {
    @apply text-4xl
      font-medium;
  } */

  /* & .grid--2-col-tablet-down .grid__item {
    @apply !w-full;
  } */
}

.contact-content-card {
  @apply flex
    flex-col
    justify-around;
}

.contact-info {
  @apply break-words
    mt-12;
}

.contact-content-btn {
  @apply h-9
    min-w-42
    text-center
    py-1
    px-8;
}

@media screen and (max-width: 767px) {
  .contact-content .title-wrapper-with-link {
    @apply mb-12;
  }

  /* .contact-content-card {
    width: 100vw;
  } */

  .contact-content .page-width {
    @apply pl-0
      pr-0;
  }
}

.contact-content-card__image-wrapper--third-width {
  @apply w-1/3;
}

.contact-content-card__image-wrapper--half-width {
  @apply w-1/2;
}

.contact-content-list__item.center .contact-content-card__image-wrapper:not(
.contact-content-card__image-wrapper--full-width),
.contact-content-list__item:only-child {
  @apply ml-auto
    mr-auto;
}

.contact-content .button {
  @apply mt-6;
}

@media screen and (min-width: 768px) {
  .contact-content .button {
    @apply mt-16;
  }
}

.contact-content-list {
  @apply mt-0
    mb-0
    p-0;
}

.contact-content-list__item:only-child {
  @apply max-w-6xl;
}

.contact-content-list__item--empty {
  @apply hidden;
}

.contact-content:not(.background-none) .contact-content-card {
  @apply bg-bg1
    h-full;
}

.contact-content.background-primary .contact-content-card {
  background: rgb(var(--color-scheme-bg))
    linear-gradient(rgb(var(--color-scheme-fg) .04), rgb(var(--color-scheme-fg) .04));
}

.contact-content-list h3 {
  line-height: calc(1 + .5 / max(1, var(--font-heading-scale)));
}

.contact-content-list h3,
.contact-content-list p {
  @apply my-2
    mx-0;
}

.contact-content-card__info > :nth-child(2) {
  @apply mt-4;
}

.contact-content-list__item.center .media--adapt,
.contact-content-list__item .media--adapt .contact-content-card__image {
  @apply w-auto;
}

.contact-content-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .contact-content-list {
    @apply flex-col
      m-0
      w-full;

    &__item {
      max-width: unset;
      width: 100%;
    }
  }
}

@media screen and (min-width: 768px) {
  .contact-content-list__item,
  .grid--4-col-desktop .contact-content-list__item {
    @apply pb-0;
  }

  .background-none .grid--2-col-tablet .contact-content-list__item {
    @apply mt-16;
  }
}

.background-none .contact-content-card-spacing {
  @apply p-0
    m-0;
}

.contact-content-card__info {
  @apply p-10;
}

.background-none .contact-content-card__info {
  @apply pt-0
    pl-0
    pr-0;
}

.background-none .contact-content-card__info {
  @apply pb-0;
}

.background-none .contact-content-card__image-wrapper + .contact-content-card__info {
  @apply pt-10;
}

.background-none .contact-content-card__info {
  @apply pl-2;
}

.background-none .contact-content-card__image-wrapper + .contact-content-card__info {
  @apply pl-6;
}

.background-none .contact-content-list .center .contact-content-card__info {
  @apply pl-10
    pr-10;
}

@media screen and (max-width: 767px) {
  .background-none .contact-content-card__info {
    @apply pb-4;
  }

  .contact-content.background-none {
    @apply mb-0;
  }
}

@media screen and (min-width: 768px) {
  .background-none .contact-content-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .contact-content-list .contact-content-card__info,
  .background-none .contact-content-list .center .contact-content-card__info {
    @apply pl-6
      pr-6;
  }
}

.contact-content-card {
  @apply relative
    box-border;
}

.contact-content-card > .contact-content-card__image-wrapper--full-width:not(
.contact-content-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.contact-content.background-none .contact-content-card {
  @apply rounded-none;
}

.contact-content-card__info .link {
  @apply no-underline
    mt-6;
}

.contact-content-card__info .icon-wrap {
  @apply ml-3
    whitespace-nowrap;
}

@media screen and (min-width: 1024px) {
  .contact-content-list__item--empty {
    @apply list-item;
  }
}
