.featured-collection {
  & .featured-collection-divider {
    @apply bg-scheme-accent;
    height: 1px;
    border: none;
    width: 140px;
    text-align: center;
    margin: 0 auto 2rem;
  }

  & #collection-tab-container {
    text-align: center;
    margin: auto;
    padding-bottom: 20px;

    & .collection-tab-btn {
      @apply bg-scheme-fg my-1;
    }
  }

  & .collection__view-all {
    @apply mt-2 md:mt-4;
  }
}

.featured-collection-slider {
  @apply hidden;

  &.active {
    @apply block;
  }

  & .splide {
    &:not(.is-overflow) {
      & .splide__pagination {
        @apply flex;
      }
    }

    &__arrow {
      margin: 0 -2.125rem;
    }
  }

  & > div {
    &:not(.splide) {
      & .splide__list {
        @apply flex-wrap;
      }
    }
  }
}
