.quick-add {
  @apply relative
    row-start-4
    mt-0
    mx-0
    mb-4
    z-1;
}

.quick-add-modal {
  @apply box-border
    opacity-0
    fixed
    invisible
    -z-1
    my-0
    mx-auto
    top-0
    left-0
    w-full
    h-full;
  background: rgb(var(--color-background-2) / .75);

  &[open] {
    @apply opacity-100
      visible
      z-101;
  }

  &__toggle {
    @apply hidden
      md:(top-8 right-8);
  }

  &__content {
    @apply absolute
      top-1/2
      left-1/2
      transform
      -translate-x-1/2
      -translate-y-1/2
      mt-0
      mx-auto
      mb-0
      bg-scheme-bg
      filter
      drop-shadow-md
      max-w-full
      w-3/4
      md:(w-2/3 overflow-y-auto);
    height: calc(100% - 4rem);

    @media screen and (min-width: 768px) {
      max-height: calc(100% - 8rem);
    }

    &-info {
      & h2 {
        @apply text-xl;
      }

      & .product {
        @apply <md:(flex-col flex-nowrap);
      }

      & .product__title {
        @apply mb-0;
      }

      & .price__regular {
        @apply text-lg;
      }

      & .product__view-details {
        @apply border-t-1
          border-b-1
          text-center
          text-base
          p-3;
      }

      & .product__info-container .product__description {
        @apply m-0
          mb-8
          text-xs;
      }

      & .form__label {
        @apply text-sm
          p-0
          mt-8
          mr-0
          mb-0
          ml-0;
      }

      & .icon-caret {
        @apply h-.5rem;
      }

      & .select__select {
        @apply text-base
          h-12;
      }

      & .quantity__input {
        @apply w-full;
      }

      & .quantity {
        @apply w-6.25rem
          min-h-10;
      }

      & .product-form__quantity {
        @apply flex
          justify-center;
      }
    }

    & .shopify-payment-button {
      @apply h-12;
    }

    & .caption-spaced {
      display: none;
    }
  }

  & .product-form__input input[type='radio'] + label {
    @apply border-scheme-accent;
  }

  & .full-unstyled-link {
    font-size: 20px;
  }

  & .form__label {
    @apply p-5;
  }

  & .shopify-payment-button__button,
  & .product-form__submit {
    @apply inline-block
      min-h-[unset]
      py-xs
      px-8
      bg-button-bg
      text-button-fg
      text-xl
      focus:outline-none
      focus:ring
      focus:ring-scheme-accent;
  }

  .splide {
    &.is-active {
      @apply p-0;
    }

    &__slide {
      @apply block;
    }
  }
}
