.drawer__inner {
  background-color: var(--color-scheme-bg);
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  float: right;
  height: 100vh;
  overflow-x: auto;
  overflow-y: scroll;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 24rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  --tw-translate-x: 100%;
  -webkit-transition-property: -webkit-transform;
  -o-transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -o-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-duration: var(--duration-default);
  -o-transition-duration: var(--duration-default);
  transition-duration: var(--duration-default);
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  --tw-drop-shadow: drop-shadow(var(--drawer-shadow-horizontal-offset)                   var(--drawer-shadow-vertical-offset)                   var(--drawer-shadow-blur-radius)                   rgb(var(--color-scheme-accentRGB) / var(--drawer-shadow-opacity)));
  max-width: calc(100vw - 2rem);
  border: .1rem solid rgb(var(--colors-scheme-fg) .2);
  border-right: 0;
}

@media screen and (max-width: 767px) {
  .drawer__inner {
    padding-top: .5rem;
    padding-bottom: .5rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.drawer__close svg {
  height: 1.5rem;
  width: 1.5rem;
}

.drawer__header {
  padding: 0;
}

.drawer__heading {
  font-family: var(--font-heading-family);
  font-weight: 700;
  margin: auto;
}

@media screen and (max-width: 767px) {
  .drawer__heading {
    font-size: 2rem;
  }
}

pickup-availability-drawer[open].drawer {
  visibility: visible;
}

pickup-availability-drawer[open].drawer .drawer__inner {
  transform: none;
}

.cart-drawer .price {
  font-weight: 600;
  font-size: 1rem;
}

.cart-drawer .quantity {
  flex-basis: 50%;
}

.cart-drawer .remove-btn {
  padding-right: 0;
  padding-top: 0;
}

@media screen and (max-width: 767px) {
  .cart-drawer .remove-btn {
    min-width: 4rem;
  }
}

.cart-drawer .remove-btn svg, .cart-drawer .remove-btn h3 {
  margin-left: auto;
  margin-top: 0;
}

.cart-drawer .totals__subtotal-value {
  font-weight: 600;
  font-size: 1rem;
}

.cart-drawer .tax-note {
  margin-top: .75rem;
  margin-right: 0;
  margin-bottom: 1rem;
  margin-left: auto;
}

.cart-drawer .cart__checkout-button {
  --tw-bg-opacity: 1;
  background-color: rgb(10 10 10 / var(--tw-bg-opacity));
  max-width: none;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}

@media screen and (max-width: 767px) {
  .cart-drawer td {
    padding-top: 0;
  }
}

.cart-drawer .icon-remove {
  height: 1.75rem;
  margin-top: .5rem;
}

.cart-drawer .cart-item__quantity-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
}

.cart-drawer .cart-item__media {
  width: 6rem;
}

.cart-drawer .cart-item__details {
  min-width: 8rem;
}

.cart-drawer .cart-item__details > * + * {
  margin-top: .25rem;
}

.cart-drawer .cart-item__name {
  font-weight: 600;
  font-size: .875rem;
}

.cart-drawer .cart-item__price-wrapper {
  margin-top: auto;
  margin-bottom: auto;
  margin-left: 0;
  margin-right: 0;
}

.cart-drawer .cart-item .product-option {
  font-size: .75rem;
  line-height: 1.25;
}

.cart-drawer .cart-item dl > .product-option {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.cart-drawer .cart-item dl > .product-option > dd {
  margin-left: .25rem;
}

.cart-drawer .cart-item > td + td.cart-item__totals {
  padding-left: 1rem;
}

.cart-drawer .quantity__input {
  font-size: 1rem;
}

.cart-drawer #CartDrawer-Note {
  background-color: rgb(var(--color-scheme-accentRGB) / .2);
  --tw-border-opacity: 1;
  border-color: rgb(194 194 194 / var(--tw-border-opacity));
  border-width: 1px;
  font-size: 1rem;
}
