.contact-content .contact-content-list {
  column-gap: 0;
  row-gap: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

.contact-content .title {
  margin: 0;
}

.contact-content.no-heading .title {
  display: none;
}

.contact-content .title-wrapper-with-link {
  margin-top: 0;
}

.contact-content .subtitle {
  font-size: 1rem;
  text-transform: capitalize;
}

.contact-content .text-above {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  -webkit-flex-direction: column-reverse;
  flex-direction: column-reverse;
}

.contact-content .contact-content-card__image-wrapper {
  height: 100%;
}

.contact-content .contact-content-card__image-wrapper .media {
  height: 100%;
}

.contact-content-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: distribute;
  -webkit-justify-content: space-around;
  justify-content: space-around;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
}

.contact-info {
  margin-top: 3rem;
  overflow-wrap: break-word;
}

.contact-content-btn {
  height: 2.25rem;
  min-width: 10.5rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  padding-left: 2rem;
  padding-right: 2rem;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .contact-content .title-wrapper-with-link {
    margin-bottom: 3rem;
  }

  .contact-content .page-width {
    padding-left: 0;
    padding-right: 0;
  }
}

.contact-content-card__image-wrapper--third-width {
  width: 33.333333%;
}

.contact-content-card__image-wrapper--half-width {
  width: 50%;
}

.contact-content-list__item.center .contact-content-card__image-wrapper:not(
.contact-content-card__image-wrapper--full-width), .contact-content-list__item:only-child {
  margin-left: auto;
  margin-right: auto;
}

.contact-content .button {
  margin-top: 1.5rem;
}

@media screen and (min-width: 768px) {
  .contact-content .button {
    margin-top: 4rem;
  }
}

.contact-content-list {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
}

.contact-content-list__item:only-child {
  max-width: 72rem;
}

.contact-content-list__item--empty {
  display: none;
}

.contact-content:not(.background-none) .contact-content-card {
  background-color: rgb(var(--color-background-1));
  height: 100%;
}

.contact-content.background-primary .contact-content-card {
  background: rgb(var(--color-scheme-bg))
    linear-gradient(rgb(var(--color-scheme-fg) .04), rgb(var(--color-scheme-fg) .04));
}

.contact-content-list h3 {
  line-height: calc(1 + .5 / max(1, var(--font-heading-scale)));
}

.contact-content-list h3, .contact-content-list p {
  margin-top: .5rem;
  margin-bottom: .5rem;
  margin-left: 0;
  margin-right: 0;
}

.contact-content-card__info > :nth-child(2) {
  margin-top: 1rem;
}

.contact-content-list__item.center .media--adapt, .contact-content-list__item .media--adapt .contact-content-card__image {
  width: auto;
}

.contact-content-list__item.center .media--adapt img {
  left: 50%;
  transform: translateX(-50%);
}

@media screen and (max-width: 767px) {
  .contact-content-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    margin: 0;
    width: 100%;
  }

  .contact-content-list__item {
    max-width: unset;
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  .contact-content-list__item, .grid--4-col-desktop .contact-content-list__item {
    padding-bottom: 0;
  }

  .background-none .grid--2-col-tablet .contact-content-list__item {
    margin-top: 4rem;
  }
}

.background-none .contact-content-card-spacing {
  margin: 0;
  padding: 0;
}

.contact-content-card__info {
  padding: 2.5rem;
}

.background-none .contact-content-card__info {
  padding-top: 0;
  padding-left: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: .5rem;
}

.background-none .contact-content-card__image-wrapper + .contact-content-card__info {
  padding-top: 2.5rem;
  padding-left: 1.5rem;
}

.background-none .contact-content-list .center .contact-content-card__info {
  padding-left: 2.5rem;
  padding-right: 2.5rem;
}

@media screen and (max-width: 767px) {
  .background-none .contact-content-card__info {
    padding-bottom: 1rem;
  }

  .contact-content.background-none {
    margin-bottom: 0;
  }
}

@media screen and (min-width: 768px) {
  .background-none .contact-content-card__image-wrapper {
    margin-left: 1.5rem;
    margin-right: 1.5rem;
  }

  .background-none .contact-content-list .contact-content-card__info, .background-none .contact-content-list .center .contact-content-card__info {
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}

.contact-content-card > .contact-content-card__image-wrapper--full-width:not(
.contact-content-card-spacing) {
  border-top-left-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  border-top-right-radius: calc(var(--text-boxes-radius) - var(--text-boxes-border-width));
  overflow: hidden;
}

.contact-content.background-none .contact-content-card {
  border-radius: 0;
}

.contact-content-card__info .link {
  margin-top: 1.5rem;
  text-decoration: none;
}

.contact-content-card__info .icon-wrap {
  margin-left: .75rem;
  white-space: nowrap;
}

@media screen and (min-width: 1024px) {
  .contact-content-list__item--empty {
    display: list-item;
  }
}
