@media (max-width: 767.9px) {
  .facets-container {
    width: 100%;
    padding-left: 1rem;
    padding-right: 1rem;
    margin-left: auto;
    margin-right: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin: auto;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  @media (min-width: 480px) {
    .facets-container {
      max-width: 480px;
    }
  }

  @media (min-width: 640px) {
    .facets-container {
      max-width: 640px;
    }
  }

  @media (min-width: 768px) {
    .facets-container {
      max-width: 768px;
    }
  }

  @media (min-width: 1024px) {
    .facets-container {
      max-width: 1024px;
    }
  }

  @media (min-width: 1280px) {
    .facets-container {
      max-width: 1280px;
    }
  }

  @media (min-width: 1536px) {
    .facets-container {
      max-width: 1536px;
    }
  }
}

.facets-container-drawer {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 480px) {
  .facets-container-drawer {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .facets-container-drawer {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .facets-container-drawer {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .facets-container-drawer {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .facets-container-drawer {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .facets-container-drawer {
    max-width: 1536px;
  }
}

.facets-container-drawer .mobile-facets__wrapper {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  -webkit-flex-grow: 1;
  flex-grow: 1;
}

.facets-container-drawer .facet-filters__label, .facets-container-drawer .product-count__text {
  font-family: var(--font-heading-family);
}

.facets-container-drawer .facets-pill {
  margin-top: .5rem;
}

.mobile-facets {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.mobile-facets__wrapper {
  display: block;
}

.mobile-facets__open {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-right: .5rem;
  text-align: left;
  width: 100%;
}

.mobile-facets__open-label {
  font-family: var(--font-heading-family);
  font-size: 1.125rem;
  margin-left: .5rem;
}

.mobile-facets__inner {
  background-color: rgb(var(--color-background-1));
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  height: 100%;
  max-width: 36rem;
  width: 100%;
  --tw-blur: var(--tw-empty,/*!*/ /*!*/);
  --tw-brightness: var(--tw-empty,/*!*/ /*!*/);
  --tw-contrast: var(--tw-empty,/*!*/ /*!*/);
  --tw-grayscale: var(--tw-empty,/*!*/ /*!*/);
  --tw-hue-rotate: var(--tw-empty,/*!*/ /*!*/);
  --tw-invert: var(--tw-empty,/*!*/ /*!*/);
  --tw-saturate: var(--tw-empty,/*!*/ /*!*/);
  --tw-sepia: var(--tw-empty,/*!*/ /*!*/);
  --tw-drop-shadow: var(--tw-empty,/*!*/ /*!*/);
  -webkit-filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  --tw-drop-shadow: drop-shadow(var(--drawer-shadow-horizontal-offset)                   var(--drawer-shadow-vertical-offset)                   var(--drawer-shadow-blur-radius)                   rgb(var(--color-scheme-accentRGB) / var(--drawer-shadow-opacity)));
}

.mobile-facets__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  text-align: center;
  z-index: 2;
}

.mobile-facets__heading {
  font-family: var(--font-heading-family);
  font-size: 1.375rem;
  line-height: 1;
}

@media (min-width: 768px) {
  .mobile-facets__heading {
    font-size: 2rem;
  }
}

.mobile-facets__count {
  font-size: .75rem;
  margin-top: .5rem;
}

@media (min-width: 768px) {
  .mobile-facets__count {
    font-size: 1rem;
  }
}

.mobile-facets__main > :not([hidden]) ~ :not([hidden]) {
  --tw-divide-y-reverse: 0;
  border-top-width: calc(1px * calc(1 - var(--tw-divide-y-reverse)));
  border-bottom-width: calc(1px * var(--tw-divide-y-reverse));
  border-color: rgb(var(--color-background-2));
}

.mobile-facets__main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  position: relative;
  z-index: 1;
}

.mobile-facets__summary {
  font-family: var(--font-heading-family);
  font-size: 1.125rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.mobile-facets__info {
  padding-left: 2rem;
  padding-right: 2rem;
}

.mobile-facets__close-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-family: var(--font-heading-family);
  font-size: 1.125rem;
  margin-top: 1rem;
  margin-bottom: .5rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  width: 100%;
}

.mobile-facets__label {
  padding-top: .5rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.mobile-facets__label .icon-checkmark {
  margin-left: .3rem;
  top: 50%;
  left: 2rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  --tw-translate-y: -50%;
}

.mobile-facets__sort .select {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 0%;
  -webkit-flex: 1 1 0%;
  flex: 1 1 0%;
  margin-left: 1rem;
}

.mobile-facets__sort .select__select {
  padding-right: 2rem;
}

.mobile-facets__clear {
  text-align: center;
  width: 100%;
}

.facets.top {
  border-color: rgb(var(--color-background-2));
  border-top-width: 1px;
  border-bottom-width: 1px;
}

.facets.top .facets__heading, .facets.top .facet-filters__label {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border-width: 0;
}

.facets.top .facets__summary, .facets.top .active-facets__button-wrapper *, .facets.top span.active-facets__button-inner, .facets.top .product-count__text {
  font-family: var(--font-heading-family);
}

.facets.top .facets__form {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 480px) {
  .facets.top .facets__form {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .facets.top .facets__form {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .facets.top .facets__form {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .facets.top .facets__form {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .facets.top .facets__form {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .facets.top .facets__form {
    max-width: 1536px;
  }
}

.facets.top .facets__disclosure {
  border-color: rgb(var(--color-background-2));
  border-right-width: 1px;
  padding: 1rem;
}

.facets.top .facets__disclosure:first-of-type {
  border-left-width: 1px;
}

.facets.top .facets__summary {
  font-size: 1.125rem;
  padding-right: 2rem;
}

.facets.top .facets__display {
  background-color: rgb(var(--color-background-1));
  top: 100%;
  left: -1px;
}

.facets.top .facets__header {
  font-family: var(--font-heading-family);
  padding-bottom: .5rem;
}

.facets.top .facets__header-price {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
}

.facets.top .facets__header .link {
  font-size: 1.125rem;
}

.facets.top .facets__list {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.facets.top .facets__price {
  padding-bottom: .5rem;
}

.facets.top .facets__price ~ .facets__info {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 1rem;
}

.facets.top .facet-filters {
  border-color: rgb(var(--color-background-2));
  border-right-width: 1px;
  padding-left: 0;
}

.facets.top .facet-filters__field {
  height: 100%;
}

.facets.top .facet-filters .select__select {
  border-width: 0;
  font-family: var(--font-heading-family);
  font-size: 1.125rem;
  padding-right: 2.5rem;
}

.facets.top ~ .facets-pill {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: auto;
  margin-top: .5rem;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 480px) {
  .facets.top ~ .facets-pill {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .facets.top ~ .facets-pill {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .facets.top ~ .facets-pill {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .facets.top ~ .facets-pill {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .facets.top ~ .facets-pill {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .facets.top ~ .facets-pill {
    max-width: 1536px;
  }
}

.facets.top ~ .facets-pill .product-count {
  margin-top: .5rem;
  margin-bottom: 2rem;
}

.facets-vertical {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 2rem;
}

@media (min-width: 480px) {
  .facets-vertical {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .facets-vertical {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .facets-vertical {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .facets-vertical {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .facets-vertical {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .facets-vertical {
    max-width: 1536px;
  }
}

.facets-vertical.facets-right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  -ms-flex-direction: row-reverse;
  -webkit-flex-direction: row-reverse;
  flex-direction: row-reverse;
}

@media (min-width: 768px) {
  .facets-vertical.facets-right .facets-wrapper {
    padding-right: 0;
    padding-left: 2rem;
  }
}

@media (min-width: 1024px) {
  .facets-vertical.facets-right .facets-wrapper {
    padding-left: 2.5rem;
  }
}

.facets-vertical-sort {
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  margin: auto;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 480px) {
  .facets-vertical-sort {
    max-width: 480px;
  }
}

@media (min-width: 640px) {
  .facets-vertical-sort {
    max-width: 640px;
  }
}

@media (min-width: 768px) {
  .facets-vertical-sort {
    max-width: 768px;
  }
}

@media (min-width: 1024px) {
  .facets-vertical-sort {
    max-width: 1024px;
  }
}

@media (min-width: 1280px) {
  .facets-vertical-sort {
    max-width: 1280px;
  }
}

@media (min-width: 1536px) {
  .facets-vertical-sort {
    max-width: 1536px;
  }
}

@media (min-width: 768px) {
  .facets-vertical-form {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
  }

  .facets-vertical-form > .sorting {
    padding-left: 0;
  }

  .facets-vertical .facets-wrapper {
    min-width: 50%;
    padding-right: 2rem;
    width: 50%;
  }
}

@media (min-width: 1024px) {
  .facets-vertical .facets-wrapper {
    min-width: 33.333333%;
    width: 33.333333%;
  }
}

@media (min-width: 1280px) {
  .facets-vertical .facets-wrapper {
    min-width: 25%;
    padding-right: 2.5rem;
    width: 25%;
  }
}

.facets-vertical .facets__heading {
  font-weight: 600;
  font-size: 1.125rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.facets-vertical .facets__summary {
  border-color: rgb(var(--color-background-2));
  border-bottom-width: 2px;
  font-size: 1.125rem;
  padding-top: .25rem;
  padding-bottom: .25rem;
  text-transform: uppercase;
}

.facets-vertical .facets__display-vertical {
  padding-top: .5rem;
  padding-bottom: 1rem;
}

.facets-vertical .facets__price {
  padding-top: 2rem;
  padding-bottom: .5rem;
}

.facets-vertical-form.facets-right {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
}

.facets-vertical-form.facets-right .facet-filters {
  padding-left: 0;
}

.facets-container .product-count, .facets-wrapper .product-count {
  margin-left: 2rem;
  text-align: right;
}

@media (max-width: 767.9px) {
  .facets-container .product-count, .facets-wrapper .product-count {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    -webkit-flex-grow: 1;
    flex-grow: 1;
  }
}

.facets-container .product-count__text, .facets-wrapper .product-count__text {
  font-size: 1rem;
}

@media (min-width: 1024px) {
  .facets-container .product-count__text, .facets-wrapper .product-count__text {
    font-size: 1.125rem;
  }
}

@media (max-width: 767.9px) {
  .facets-wrapper + .product-grid-container {
    margin-top: 1rem;
  }
}

.facets__header {
  font-size: 1.125rem;
}

.facets__header-vertical {
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.facets__price {
  padding-top: 2rem;
  padding-bottom: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
}

.facets__price ~ .mobile-facets__info, .facets__price ~ .facets__info {
  font-size: .75rem;
  margin-bottom: .5rem;
  text-align: right;
}

.facets__summary .icon-caret {
  height: 1.5rem;
  top: 50%;
  width: 1.5rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  --tw-translate-y: -50%;
}

.facets__disclosure-vertical[open] .facets__summary .icon-caret {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  --tw-rotate: 180deg;
  --tw-translate-y: -50%;
}

.facet-filters__label {
  font-size: 1.125rem;
  margin-right: 1rem;
}

.facet-checkbox {
  font-size: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
}

.facet-checkbox input[type='checkbox'] {
  height: 1.75rem;
  left: 0;
  top: 50%;
  width: 1.75rem;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  --tw-translate-y: -50%;
}

.facet-checkbox .icon-checkmark {
  margin-left: .3rem;
  top: 50%;
  left: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-translate-z: 0;
  --tw-rotate: 0;
  --tw-rotate-x: 0;
  --tw-rotate-y: 0;
  --tw-rotate-z: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-scale-z: 1;
  -webkit-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  -ms-transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  transform: translateX(var(--tw-translate-x)) translateY(var(--tw-translate-y)) translateZ(var(--tw-translate-z)) rotate(var(--tw-rotate)) rotateX(var(--tw-rotate-x)) rotateY(var(--tw-rotate-y)) rotateZ(var(--tw-rotate-z)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y)) scaleZ(var(--tw-scale-z));
  --tw-translate-y: -50%;
}

.active-facets {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -ms-flex-wrap: wrap;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.active-facets > * {
  margin-top: .25rem;
  margin-bottom: .25rem;
}

.active-facets > *:not(:last-child) {
  margin-right: .5rem;
}

.active-facets > .active-facets__button-wrapper {
  margin-left: 1rem;
}
