.slideshow .h0 {
  font-style: normal;
  font-weight: 700;
  font-size: 92px;
  line-height: 85px;
}

.slideshow .h1 {
  font-size: 52px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 0;
}

@media screen and (max-width: 767px) {
  .slideshow .mobile-text-large {
    font-size: 4rem;
  }

  .slideshow .mobile-text-medium {
    font-size: 3rem;
  }

  .slideshow .mobile-text-small {
    font-size: 2rem;
  }
}

.slideshow img, .slideshow video {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.slideshow .banner__media::after {
  background-color: var(--color-scheme-bg);
}

@media (max-width: 767.9px) {
  .slideshow .banner--mobile-bottom, .slideshow .banner--mobile-bottom:not(.banner--stacked) {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    height: 100vh;
  }
}

@media screen and (max-width: 767px) {
  .slideshow .banner--mobile-bottom .banner__media, .slideshow .banner--mobile-bottom:not(.banner--stacked) .banner__media {
    height: auto !important;
    flex: 1 0 auto !important;
  }
}

@media (max-width: 767.9px) {
  .slideshow .banner--mobile-bottom .banner__media, .slideshow .banner--mobile-bottom:not(.banner--stacked) .banner__media {
    height: auto !important;
  }
}

@media screen and (max-width: 767px) {
  .slideshow .banner--mobile-bottom .banner__content, .slideshow .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    height: auto !important;
    padding: 2rem !important;
    flex: 1 0 auto !important;
  }
}

@media (max-width: 639.9px) {
  .slideshow .banner--mobile-bottom .banner__content, .slideshow .banner--mobile-bottom:not(.banner--stacked) .banner__content {
    padding: 1rem;
  }
}

@media (max-width: 767.9px) {
  .slideshow .banner--mobile-bottom .banner__box, .slideshow .banner--mobile-bottom:not(.banner--stacked) .banner__box {
    padding: 2rem;
  }
}

@media (max-width: 639.9px) {
  .slideshow .banner--mobile-bottom .banner__box, .slideshow .banner--mobile-bottom:not(.banner--stacked) .banner__box {
    padding: 1rem;
  }
}

@media (max-width: 767.9px) {
  .slideshow__text-mobile--center .banner__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .slideshow__text-mobile--left .banner__buttons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .slideshow__text-mobile--right .banner__buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}

@media (min-width: 768px) {
  .slideshow__text--center .banner__buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
  }

  .slideshow__text--left .banner__buttons {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
  }

  .slideshow__text--right .banner__buttons {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
  }
}

.slideshow__text.banner__box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 54.5rem;
  position: absolute;
}

.slideshow .banner--small {
  min-height: 575px;
}

.slideshow .banner--small:not(.banner--adapt) {
  min-height: 575px;
}

.slideshow.splide {
  padding: 0;
}

.slideshow.splide .splide__track {
  margin-left: 0;
  margin-right: 0;
}

.slideshow.splide .splide__slide {
  padding: 0;
}

.slideshow.splide .splide__slide__container {
  height: 100%;
}

@media (min-width: 768px) {
  .slideshow.splide .splide__pagination {
    bottom: 2rem;
  }
}

@media (max-width: 767.9px) {
  .slideshow.splide .splide__pagination {
    margin: 0;
    padding: .5rem;
    position: relative;
    bottom: 0;
  }
}

.slideshow.splide .splide__pagination__page {
  margin-left: .5rem;
  margin-right: .5rem;
  padding: .5rem;
  width: 2rem;
  background: none;
  border-radius: 0;
  height: unset;
}

.slideshow.splide .splide__pagination__page::after {
  background-color: rgb(var(--color-scheme-accentRGB) / .2);
  display: block;
  height: .25rem;
  width: 100%;
  content: '';
}

.slideshow.splide .splide__pagination__page.is_active::after {
  background-color: var(--color-scheme-accent);
}

@media (max-width: 767.9px) {
  .slideshow.splide .splide__arrows {
    position: absolute;
    bottom: 50%;
    width: 100%;
  }
}

.slideshow.splide .splide__arrows {
  z-index: 1;
  height: 0;
}

@media (max-width: 767.9px) {
  .slideshow.splide.mobile-text-below .splide__arrows {
    bottom: 25%;
  }
}

.slideshow-video {
  right: 0;
  bottom: 0;
  object-fit: cover;
}

.no-solid-background {
  background: none;
  font-size: 1rem;
}

.control-container {
  background-color: var(--color-scheme-bg);
  z-index: 2;
}

.slideshow__controls {
  color: var(--color-scheme-text);
  position: absolute;
  z-index: 1;
  bottom: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

@media screen and (max-width: 767px) {
  .slideshow__controls {
    visibility: hidden;
  }
}

.slideshow__controls--none {
  visibility: hidden;
}

.slideshow__controls--dots .slider-button {
  visibility: hidden;
}

.slideshow__controls .slider-button {
  background-color: rgb(var(--color-background-2) / .2);
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
}

.slideshow__controls .slider-button .icon {
  height: 3rem;
}

.slideshow__controls .slider-counter__link--dots .dot {
  background-color: rgb(var(--color-background-2) / .2);
  display: block;
  height: .25rem;
  padding: 0;
  width: 2rem;
}

.slider-counter {
  display: flex;
  justify-content: center;
  min-width: .1rem;
}

.slider-counter--arrows {
  visibility: hidden;
  min-width: .1rem;
}
