.product {
  display: flex;
}

@media screen and (max-width: 767px) {
  .product {
    flex-direction: column;
  }
}

.product--right {
  flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .product--right .product__info-wrapper {
    padding-left: 0;
    padding-right: 5rem;
  }

  .product--stacked_single_column {
    width: 100%;
  }
}

.product--stacked_single_column .product__media-list {
  flex-direction: column;
}

.product--stacked_single_column .product__media-item {
  display: block;
  width: 100%;
}

.product--stacked_single_column .media-item__stacked_single {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .product--stacked_single_column .slider-buttons {
    display: none;
  }
}

.product__title {
  word-break: break-word;
}

.product__tax {
  margin-top: -.5rem;
  margin-bottom: 1rem;
}

.product .thumbnail-list {
  display: flex;
}

.product quantity-input {
  width: 50%;
}

.product .quantity__button {
  height: 2rem;
  width: 2rem;
  margin: auto;
}

.product .form__label {
  font-size: 1.2rem;
  margin-bottom: 0;
  margin-top: 1rem;
}

.product .select__select {
  height: 3rem;
}

.product .price-item {
  font-size: 1.5rem;
  font-weight: 500;
}

.product .card-information .price-item {
  font-size: 1rem;
}

.product .share-button__button {
  font-size: 1.1rem;
}

.product .hide-label {
  display: none;
}

.product .divider {
  margin: 2rem 0;
}

.product__view-details {
  text-underline-offset: 4px;
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
  -webkit-transition-property: all;
  -o-transition-property: all;
  transition-property: all;
  -webkit-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -o-transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  -webkit-transition-duration: 150ms;
  -o-transition-duration: 150ms;
  transition-duration: 150ms;
  -webkit-transition-duration: 250ms;
  -o-transition-duration: 250ms;
  transition-duration: 250ms;
}

.product__view-details:hover {
  text-underline-offset: 6px;
  text-decoration-thickness: 1px;
}

.product__view-details .icon {
  margin-left: .25rem;
}

.product-form__input input[type='radio'] + label {
  border-color: var(--button-fg);
  border-radius: var(--variant-pills-radius);
  border-width: var(--variant-pills-border-width);
}

.product-form__input input[type='radio'] + label > .btn__label {
  border-radius: var(--variant-pills-radius);
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  min-height: 2.75rem;
  min-width: 2.75rem;
  text-align: center;
}

.product-form__input input[type='radio'] + label.btn--small > .btn__label {
  padding: .375rem;
  min-height: 2rem;
  min-width: 2rem;
}

.product-form__input input[type='radio'] + label.btn--large > .btn__label {
  padding: .5rem;
  min-height: 3rem;
  min-width: 3rem;
}

.product-form__input input[type='radio']:checked + label {
  background-color: var(--button-bg);
  color: var(--button-fg);
}

.product-form .shopify-payment-button__button {
  background-color: var(--button-bg);
  border-radius: var(--buttons-radius);
  border-bottom-width: var(--buttons-border-width);
  display: inline-block;
  font-size: 1.25rem;
  line-height: 1.4;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;
  color: var(--button-fg);
  background-color: var(--color-scheme-bg);
  border-color: var(--color-scheme-accent);
  color: var(--color-scheme-accent);
  border: var(--buttons-border-width) solid;
}

.product-form .shopify-payment-button__button:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  --tw-ring-offset-shadow: var(--tw-ring-inset) 0 0 0 var(--tw-ring-offset-width) var(--tw-ring-offset-color);
  --tw-ring-shadow: var(--tw-ring-inset) 0 0 0 calc(3px + var(--tw-ring-offset-width)) var(--tw-ring-color);
  -webkit-box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  box-shadow: var(--tw-ring-offset-shadow), var(--tw-ring-shadow), var(--tw-shadow, 0 0 #0000);
  --tw-ring-color: var(--color-scheme-accent);
}

.product-popup-modal {
  box-sizing: border-box;
  opacity: 0;
  position: fixed;
  visibility: hidden;
  z-index: -1;
  margin: 0 auto;
  top: 0;
  left: 0;
  overflow: auto;
  width: 100%;
  background: rgb(var(--color-background) .2);
  height: 100%;
}

.product-popup-modal[open] {
  opacity: 1;
  visibility: visible;
  z-index: 101;
}

.product-popup-modal__opener {
  display: inline-block;
}

.product-popup-modal__content {
  background-color: var(--color-scheme-bg);
  overflow: auto;
  height: 80%;
  margin: 0 auto;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 5rem;
  width: 92%;
  position: absolute;
  top: 0;
  padding: 0 1.5rem 0 3rem;
  border-style: solid;
}

@media screen and (min-width: 768px) {
  .product-popup-modal__content {
    padding-right: 1.5rem;
    margin-top: 10rem;
    width: 70%;
    padding: 0 3rem;
  }
}

.product-popup-modal__content img {
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  .product-popup-modal__content table {
    display: block;
    max-width: fit-content;
    overflow-x: auto;
    white-space: nowrap;
    margin: 0;
  }
}

.product-popup-modal__content.focused {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)), 0 0 .5rem .4rem rgb(var(--color-foreground) .3), var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
    var(--popup-shadow-blur-radius)
    rgb(var(--color-shadow) var(--popup-shadow-opacity));
}

.product-popup-modal__content:focus-visible {
  box-shadow: 0 0 0 .3rem rgb(var(--color-background)), 0 0 .5rem .4rem rgb(var(--color-foreground) .3), var(--popup-shadow-horizontal-offset) var(--popup-shadow-vertical-offset)
    var(--popup-shadow-blur-radius)
    rgb(var(--color-shadow) var(--popup-shadow-opacity));
}

.product-popup-modal__toggle {
  background-color: rgb(var(--color-background));
  border: .1rem solid rgb(var(--color-foreground) .1);
  border-radius: 50%;
  color: rgb(var(--color-foreground) .55);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: sticky;
  padding: 1.2rem;
  z-index: 2;
  top: 1.5rem;
  width: 4rem;
  margin: 0 0 0 auto;
}

.product-popup-modal__toggle:hover {
  color: rgb(var(--color-foreground) .75);
}

.product-popup-modal__toggle .icon {
  height: auto;
  margin: 0;
  width: 2.2rem;
}

.product-popup-modal__content-info {
  padding-right: 4.4rem;
}

.product-popup-modal__content-info > * {
  height: auto;
  margin: 0 auto;
  max-width: 100%;
  width: 100%;
}

@media screen and (max-width: 767px) {
  .product-popup-modal__content-info > * {
    max-height: 100%;
  }
}

.product-popup-modal__button {
  font-size: 18px;
  padding-right: 1.3rem;
  padding-left: 0;
  height: 4.4rem;
  text-underline-offset: .3rem;
  text-decoration-thickness: .1rem;
  transition: text-decoration-thickness var(--duration-short) ease;
}

.product-popup-modal__button:hover {
  text-decoration-thickness: .2rem;
}

@media screen and (min-width: 768px) {
  .product-media-model__dialog .global-media-settings--no-shadow {
    overflow: visible !important;
  }
}

@media screen and (max-width: 767px) {
  .product-media-model__dialog .global-media-settings, .product-media-model__dialog .global-media-settings video, .product-media-model__dialog .global-media-settings model-viewer, .product-media-model__dialog .global-media-settings iframe, .product-media-model__dialog .global-media-settings img {
    border: none;
    border-radius: 0;
  }
}

.spr-starrating {
  margin: 1rem 0;
}

.spr-starrating a {
  font-size: 1rem;
}

.spr-starrating .spr-stars span {
  display: flex;
}

.spr-starrating .spr-review-header {
  border-bottom: .2rem solid var(--color-scheme-accent);
  width: 33%;
  margin-bottom: 1rem;
}

.spr-starrating .spr-header-title {
  font-family: var(--font-heading-family);
}

.product .splide__pagination {
  display: none;
}

@media (min-width: 768px) {
  .product--stacked .product__gallery-viewer.splide.is-initialized:not(.is-active) .splide__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -ms-flex-wrap: wrap;
    -webkit-flex-wrap: wrap;
    flex-wrap: wrap;
  }
}

.product--stacked .product__gallery-viewer.splide.is-initialized:not(.is-active) .splide__slide:not(:first-child) {
  width: calc(50% - var(--grid-desktop-horizontal-spacing) / 2);
}

@media (min-width: 768px) {
  .product--stacked .product__gallery-viewer.splide.is-initialized:not(.is-active) .splide__arrows {
    display: none;
  }
}

.product--thumbnail .thumbnail-list {
  display: -ms-grid;
  display: grid;
}

@media (min-width: 768px) {
  .product--vertical_thumbnail_left .product__media-gallery, .product--vertical_thumbnail_right .product__media-gallery {
    display: -webkit-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
  }

  .product--vertical_thumbnail_left .product__gallery-viewer, .product--vertical_thumbnail_right .product__gallery-viewer {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 0%;
    -webkit-flex: 1 1 0%;
    flex: 1 1 0%;
  }

  .product--vertical_thumbnail_left .thumbnail-slider, .product--vertical_thumbnail_right .thumbnail-slider {
    padding: 0;
  }
}

.product--vertical_thumbnail_left .thumbnail-slider, .product--vertical_thumbnail_right .thumbnail-slider {
  min-width: calc(var(--thumbnail-width) + 2rem);
}

.product--vertical_thumbnail_left .thumbnail-slider .splide__slide, .product--vertical_thumbnail_right .thumbnail-slider .splide__slide {
  margin-left: 0;
  margin-right: 0;
}

@media (min-width: 768px) {
  .product--vertical_thumbnail_left .thumbnail-list, .product--vertical_thumbnail_right .thumbnail-list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
  }

  .product--vertical_thumbnail_left .product__media-gallery {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    -webkit-flex-direction: row-reverse;
    flex-direction: row-reverse;
  }
}

.product--vertical_thumbnail_left .product__gallery-viewer .splide__arrow--prev {
  left: -8rem;
}

.product--vertical_thumbnail_left .product__gallery-viewer .splide__arrow--next {
  right: -4rem;
}

@media (min-width: 768px) {
  .product--vertical_thumbnail_left .thumbnail-slider {
    padding-right: 1rem;
  }
}

.product--vertical_thumbnail_right .product__gallery-viewer .splide__arrow--prev {
  left: -4rem;
}

.product--vertical_thumbnail_right .product__gallery-viewer .splide__arrow--next {
  right: -8rem;
}

@media (min-width: 768px) {
  .product--vertical_thumbnail_right .thumbnail-slider {
    padding-left: 1rem;
  }
}

.thumbnail-slider {
  padding-left: 2rem;
  padding-right: 2rem;
}

.thumbnail-slider .splide__track {
  width: 100%;
}

.thumbnail-slider .splide__slide {
  margin-left: .25rem;
  margin-right: .25rem;
  width: calc(var(--thumbnail-width) + .5rem);
  max-width: calc(var(--thumbnail-width) + .5rem);
}

@media (min-width: 1024px) {
  .thumbnail-slider .splide__slide {
    margin-left: .5rem;
    margin-right: .5rem;
  }
}

@media screen and (min-width: 1024px) {
  .thumbnail-slider .splide__slide {
    width: calc(var(--thumbnail-width) + 1rem);
    max-width: calc(var(--thumbnail-width) + 1rem);
  }
}

.thumbnail-slider .splide__arrow--prev {
  left: 0;
}

.thumbnail-slider .splide__arrow--next {
  right: 0;
}

.thumbnail-slider .splide__arrow svg {
  height: 2rem;
}

.thumbnail-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}
