:root {
  --color-scheme-fg: theme('colors.fg');
  --color-scheme-bg: theme('colors.bg1');
  --color-scheme-bgRGB: theme('colors.bg1RGB');
  --color-scheme-text: theme('colors.text');
  --color-scheme-accent: theme('colors.bg2');
  --color-scheme-accentRGB: theme('colors.bg2RGB');
  --color-scheme-border: theme('colors.fg');
}

.color-scheme {
  &--background-1,
  &--primary,
  &--background-2.inverse,
  &--secondary.inverse {
    --color-scheme-bg: theme('colors.bg1');
    --color-scheme-bgRGB: theme('colors.bg1RGB');
    --color-scheme-text: theme('colors.text');
    --color-scheme-accent: theme('colors.bg2');
    --color-scheme-accentRGB: theme('colors.bg2RGB');
    --color-scheme-border: theme('colors.fg');
  }

  &--background-2,
  &--secondary,
  &--background-1.inverse,
  &--primary.inverse {
    --color-scheme-bg: theme('colors.bg2');
    --color-scheme-bgRGB: theme('colors.bg2RGB');
    --color-scheme-text: theme('colors.bg1');
    --color-scheme-accent: theme('colors.bg1');
    --color-scheme-accentRGB: theme('colors.bg1RGB');
    --color-scheme-border: theme('colors.bg1');
  }

  &--accent-1 {
    --color-scheme-bg: theme('colors.accent1');
    --color-scheme-bgRGB: theme('colors.accent1RGB');
    --color-scheme-text: theme('colors.bg1');
    --color-scheme-accent: theme('colors.bg1');
    --color-scheme-accentRGB: theme('colors.bg1RGB');
    --color-scheme-border: theme('colors.bg1');

    &.inverse {
      --color-scheme-bg: theme('colors.bg1');
      --color-scheme-bgRGB: theme('colors.bg1RGB');
      --color-scheme-text: theme('colors.accent1');
      --color-scheme-accent: theme('colors.accent1');
      --color-scheme-accentRGB: theme('colors.accent1RGB');
      --color-scheme-border: theme('colors.accent1');
    }
  }

  &--accent-2 {
    --color-scheme-bg: theme('colors.accent2');
    --color-scheme-bgRGB: theme('colors.accent2RGB');
    --color-scheme-text: theme('colors.bg2');
    --color-scheme-accent: theme('colors.bg2');
    --color-scheme-accentRGB: theme('colors.bg2RGB');
    --color-scheme-border: theme('colors.bg2');

    &.inverse {
      --color-scheme-bg: theme('colors.bg2');
      --color-scheme-bgRGB: theme('colors.bg2RGB');
      --color-scheme-text: theme('colors.accent2');
      --color-scheme-accent: theme('colors.accent2RGB');
      --color-scheme-accentRGB: theme('colors.accent2RGB');
      --color-scheme-border: theme('colors.accent2');
    }
  }
}

.section,
.color-scheme {
  @apply bg-scheme-bg text-scheme-text;

  &--foreground {
    position: relative;

    &::before {
      @apply absolute
        h-full
        w-full
        z-0
        bg-scheme-fg;
      content: '';
    }

    & > * {
      position: relative;
      z-index: 1;
    }

    & .card.match {
      border-radius: 0;

      &.article-card {
        & .card__inner {
          @apply rounded-content;
        }
      }

      & .card__inner {
        @apply rounded-product;

        & + .card__content {
          @apply bg-[transparent];
          border: 0;
        }
      }
    }
  }
}
