<div class="container divide-y">
  <div>
    <h1 class="big border-b-2 border-accent2 mb-4">RTE Content</h1>
    <h1>Heading 1</h1>
    <h2>Heading 2</h2>
    <h3>Heading 3</h3>
    <h3 class="text-accent1">Heading 3</h3>
    <h4>Heading 4</h4>
    <h5>Heading 5</h5>
    <h6>Heading 6</h6>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu purus eros. Quisque sollicitudin, lorem ac vestibulum accumsan, leo ex semper arcu, pretium sollicitudin diam erat in ante. Praesent sed congue ligula. Duis a pretium dui. Sed laoreet quis urna vitae tristique. Curabitur in hendrerit nunc, et auctor dui. Cras ac risus ac tortor tempor luctus sit amet in tortor. Integer in lacinia lectus. Phasellus ultrices mollis massa, id consectetur tortor auctor eget. Nam odio justo, imperdiet in purus id, euismod pretium dui. Nulla facilisi. Integer sollicitudin, ante vitae pellentesque sollicitudin, eros tellus fermentum lorem, quis maximus orci metus eget neque. Suspendisse lobortis sapien eget tortor ullamcorper tincidunt.</p>
  </div>
  <div>
    <h1 class="big border-b-2 border-accent2 mb-4">Buttons & Links</h1>
    <h2 class="mb-2">Square Buttons</h2>
    <h3>Solid</h3>
    <button class="bg-bg2 text-bg1 text-2xl py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 text-bg1 text-lg py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 text-bg1 text-sm py-xs px-8 mb-4 mr-2">Click me!</button>
    <br />
    <button class="bg-bg1 text-bg2 text-2xl py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 text-bg2 text-lg py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 text-bg2 text-sm py-xs px-8 mb-4 mr-2">Click me!</button>
    <h3>Outline</h3>
    <button class="bg-bg2 border border-bg1 text-bg1 text-2xl py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 border border-bg1 text-bg1 text-lg py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 border border-bg1 text-bg1 text-sm py-xs px-8 mb-4 mr-2">Click me!</button>
    <br />
    <button class="bg-bg1 border border-bg2 text-bg2 text-2xl py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 border border-bg2 text-bg2 text-lg py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 border border-bg2 text-bg2 text-sm py-xs px-8 mb-4 mr-2">Click me!</button>
    <h3>Shadow</h3>
    <button class="relative bg-bg2 border border-bg1 text-bg1 text-2xl py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg1 border border-bg2"></span>
    </button>
    <button class="relative bg-bg2 border border-bg1 text-bg1 text-lg py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg1 border border-bg2"></span>
    </button>
    <button class="relative bg-bg2 border border-bg1 text-bg1 text-sm py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg1 border border-bg2"></span>
    </button>
    <br />
    <button class="relative bg-bg1 border border-bg2 text-bg2 text-2xl py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg2 border border-bg2"></span>
    </button>
    <button class="relative bg-bg1 border border-bg2 text-bg2 text-lg py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg2 border border-bg2"></span>
    </button>
    <button class="relative bg-bg1 border border-bg2 text-bg2 text-sm py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg2 border border-bg2"></span>
    </button>
    <h2 class="mt-4 mb-2">Round Buttons</h2>
    <h3>Solid</h3>
    <button class="bg-bg2 text-bg1 text-2xl rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 text-bg1 text-lg rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 text-bg1 text-sm rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <br />
    <button class="bg-bg1 text-bg2 text-2xl rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 text-bg2 text-lg rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 text-bg2 text-sm rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <h3>Outline</h3>
    <button class="bg-bg2 border border-bg1 text-bg1 text-2xl rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 border border-bg1 text-bg1 text-lg rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg2 border border-bg1 text-bg1 text-sm rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <br />
    <button class="bg-bg1 border border-bg2 text-bg2 text-2xl rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 border border-bg2 text-bg2 text-lg rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <button class="bg-bg1 border border-bg2 text-bg2 text-sm rounded-[.625rem] py-xs px-8 mb-4 mr-2">Click me!</button>
    <h3>Shadow</h3>
    <button class="relative bg-bg2 border border-bg1 text-bg1 text-2xl rounded-[.625rem] py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg1 border border-bg2"></span>
    </button>
    <button class="relative bg-bg2 border border-bg1 text-bg1 text-lg rounded-[.625rem] py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg1 border border-bg2"></span>
    </button>
    <button class="relative bg-bg2 border border-bg1 text-bg1 text-sm rounded-[.625rem] py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg1 border border-bg2"></span>
    </button>
    <br />
    <button class="relative bg-bg1 border border-bg2 btn-shadow-reverse text-bg2 text-2xl rounded-[.625rem] py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg2 border border-bg2"></span>
    </button>
    <button class="relative bg-bg1 border border-bg2 btn-shadow-reverse text-bg2 text-lg rounded-[.625rem] py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg2 border border-bg2"></span>
    </button>
    <button class="relative bg-bg1 border border-bg2 btn-shadow-reverse text-bg2 text-sm rounded-[.625rem] py-xs px-8 mb-4 mr-2">
      Click me!
      <span class="shadow bg-bg2 border border-bg2"></span>
    </button>
    <h3>CTA</h3>
    <button class="bg-bg2 border-3 border-bg2 text-bg1 text-2xl uppercase py-6 px-8">
      <svg class="icon" width="21" height="20" viewBox="0 0 21 20" fill="none" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" clip-rule="evenodd" d="M5.53367 4C5.82766 1.81519 8.01103 0 10.5001 0C12.9891 0 15.1725 1.81519 15.4665 4H18.3471C19.4516 4 20.3471 4.89543 20.3471 6C20.3471 6.09464 20.3404 6.18916 20.327 6.28284L18.6127 18.2828C18.4719 19.2681 17.6281 20 16.6328 20H4.36737C3.37207 20 2.52823 19.2681 2.38747 18.2828L0.673188 6.28284C0.516978 5.18937 1.27678 4.17631 2.37024 4.0201C2.46393 4.00672 2.55845 4 2.65309 4H5.53367ZM13.428 4C13.124 2.93808 11.8981 2 10.5001 2C9.10205 2 7.87619 2.93808 7.5722 4H13.428ZM2.65309 6H5.50008V8H7.50008V6H13.5001V8H15.5001V6H18.3471L16.6328 18H4.36737L2.65309 6Z" fill="white"/>
      </svg>        
      Add to Cart
    </button>
    <button class="bg-bg1 border-3 border-bg2 text-bg2 text-2xl uppercase py-6 px-8">
      Buy it Now
    </button>
    <h2 class="mt-4 mb-2">Links</h2>
    <a href="#" class="underline leading-relaxed tracking-400">Underline Link</a>
  </div>
</div>